.square {
    border: solid;
    border-color: white;
    border-width: 1px;
    background-color: transparent;
    height: 30px;
    width: 285px;
    flex-grow: 1;
    font-size: 20px;
    padding: 2px;
    text-align: center;
}